@font-face {
	font-family: 'dunkin';
    src: url('a_black_lives/aBlackLives.ttf');
   
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
* {
    margin: 0;
    padding: 0;
  }

Html{
    font-family: dunkin;
    background-color:  #F5F5F5;    
}

.Space{
    opacity: 0.3;
    color: #F5F5F5;
    background-color: #001F3F;
    border: solid #97495A;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    text-align: center;

}
.Profil{
    margin: 25px;
    display: flex;
    column-gap: 75px;
}


.profilP {
    aspect-ratio: 4/2;
    object-fit: contain;

}

.BTS_SIO {
    position: relative;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    grid-template-columns: 5;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #DAD1E2;

}

.débouché{
    font-size: small;
    
}

ul, li.débouché{
    font-size: small;
    text-align: left;
    list-style-type: none;
    padding-left: 90px;

}



.Quick-link{
    display: grid;
    grid-template-columns: 7 1fr;
    grid-template-rows: 3 1fr;
    margin: 25px
    
}
    .TSynthese{
        grid-column-start:  2  ;
        grid-column-end:  5  ;
        grid-row: 1 ;
        background-color: #DAD1E2;
        margin: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;

    }
    .CV{
        grid-column-start:  1  ;
        grid-column-end:  3  ;
        grid-row: 2 ;
        background-color: #DAD1E2;
        margin: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;

    }

    .Linkedin{
      
        grid-column-start:  2  ;
        grid-column-end:  5  ;
        grid-row: 3 ;
        background-color: #DAD1E2;
        margin: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;


    }
    .GL{
        grid-column-start:  4  ;
        grid-column-end:  6  ;
        grid-row: 2 ;
        background-color: #DAD1E2;
        margin: 20px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }


.Terminal{
    background-color: #1E152A;
    margin: 25px;
    width: 100vh;
    padding: 20px;
    grid-column-start:1 ;

}
image{
    grid-column-start: 2;

}


.white {  
    color:#d9d7d9; 
  }

.competence{
    display: grid;
    grid-template-columns: 3 1fr;
    
}
    .Technical_Skills {
        border-radius: 10px;
        text-align: center;
        grid-column: 1 ;
        background-color: #DAD1E2;
        margin-left: 100px;
        border: solid #3B4B54;
        
    }
    .vl {
        border-left: 4px solid #1E152A;
        grid-column: 2 ;
        justify-self: center;
    }
    .Soft_Skills{
        
        border-radius: 10px;
        grid-column: 3;
        text-align: center;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        vertical-align: middle;

    }


    
.info_rapide{
        display: grid;
        grid-template-columns: 3 1fr;
        grid-template-rows: 2 1fr;
        margin: 50px;
    }

.inf1{
    border-radius: 10px;
    text-align: center;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column: 1;
    grid-row: 1; 
    }

.inf2{
    border-radius: 10px;
    text-align: center;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column: 2;
    grid-row: 1; 
    }

.inf3{
    border-radius: 10px;
    text-align: center;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column: 3;
    grid-row: 1;   
    }
.Experience{
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows:  1fr;
    margin : 10px;
    margin: 25px
}  
.bibli{
    border-radius: 10px;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column-start:  1;
    grid-row:  1;
    border-radius: 10px;
    text-align: center;

}

.bibli img {
    width:400px;
    height:197px;
    margin: 15px;
    border-radius: 10px;
    }


.infranow{
    border-radius: 10px;
    text-align: end;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column-end:  3;
    grid-row:  2;
    text-align: center;


}

.infranow img {
    width:476.25px;
    height:201.75px;
    border-radius: 10px;
    margin: 15px;

    }

.VP{
    border-radius: 10px;
    background-color: #DAD1E2;
    margin-right: 100px;
    border: solid #3B4B54;
    grid-column-start:  1;
    grid-row:  3;
    padding: 15px;
    text-align: center;

}
.VP img,.GLPI img,.M2L3 img,.Inventaire img,.AP4 img ,.ELS img{
    margin: 15px;
    width:497px;
    height:280px;
    border-radius: 10px;
    
    }
    .ELS img{
        filter: blur(4px);
}

.M2L3{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  3;
        grid-row:  6;
        padding: 15px;
        text-align: center;
    
    }

    .GLPI{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  2;
        grid-row:  5;
        padding: 15px;
        text-align: center;
    
    }

    .M2L{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  3;
        grid-row:  4;
        padding: 15px;
        text-align: center;
    
    }

    .Inventaire{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  2;
        grid-row:  7;
        padding: 15px;
        text-align: center;
    
    }
    .AP4{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  3;
        grid-row:  8;
        padding: 15px;
        text-align: center;
    
    }
    .ELS{
        border-radius: 10px;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        grid-column-end:  2;
        grid-row:  9;
        padding: 15px;
        text-align: center;
    
    }


.zoom {
    height:400px;
    margin:auto;
    }
    .zoom p {
    text-align:center;
    }
    .zoom img {
    width:300px;
    height:225px;
    }
    .zoom img:hover {
    width:400px;
    height:300px;
    }


.Qualité{
    border-radius: 10px;
    background-color: #DAD1E2;
    border: solid #3B4B54;
    padding: 15px;
    text-align: center;
    margin: 25px
}
.Contact{
    background-color: #F5F5F5;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    grid-template-columns: 5 ;
}
.Contact{
    background-color: #DAD1E2;
    padding: 15px;
    text-align: center;
    

}
header{

        background-color: #DAD1E2;
        padding: 15px;
        text-align: center;
        margin-bottom: 20px;
        grid-template-columns: 5 ;
    
}



.Veille{
    display: grid;
    grid-template-columns: 3 1fr;
    justify-content: space-between;
    
}
    .Algo {
        padding: 6px;
        border-radius: 10px;
        text-align: center;
        grid-column: 1 ;
        background-color: #DAD1E2;
        margin-left: 100px;
        border: solid #3B4B54;
        width: 420px;
        
    }
    .vl {
        border-left: 4px solid #1E152A;
        grid-column: 2 ;
        justify-self: center;
    }
    .Moteur{
        padding: 6px;
        border-radius: 10px;
        grid-column: 3;
        text-align: center;
        background-color: #DAD1E2;
        margin-right: 100px;
        border: solid #3B4B54;
        vertical-align: middle;
        width: 420px;

    }

.project {
    text-align: center;
}


.DocBibli, .Docinfranow{

    margin-top: 15px;
}


a:not(.Linktoprojecta,.Mail){
    text-decoration: none;
    color: black;
}


.Linktoproject{
    text-align: center;
}





a:not( .Mail) {
    text-decoration: none;
    color: black;
}


.Mail {
    color: #fff;
}





.PersonalLearning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.PersonalLearning div {
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #DAD1E2;
}

.OPCROOM {
    background-color: #4E5D6A;
}

.YTB {
    background-color: #64717E;
}

.INSTA {
    background-color: #4B5863;
}






/* Styles pour les petits écrans */
@media only screen and (max-width: 1220px) {
    header {
        font-size: 1.5em;
    }

    .Profil {
        flex-direction: column;
    }

    .profilP {
        display: none;
    }

    .BTS_SIO {
        padding: 10px;
    }

    .débouché,
    ul,
    li.débouché {
        padding-left: 20px;
    }

    .Quick-link {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .TSynthese,
    .CV,
    .Linkedin,
    .GL {
        grid-column: 1;
    }

    .TSynthese {
        grid-row: 2;
    }
    .GL{
        grid-row: 3;
    }

    .CV{
        grid-row: 4;
    }
    
    .Linkedin{
        grid-row: 5;
    }





    .Terminal {
        margin: 10px;
        width: auto;
        padding: 10px;
    }

    .Technical_Skills,
    .Soft_Skills {
        margin: 10px;
    }

    .vl {
        display: none;
    }

    .Soft_Skills {
        margin-right: 10px;
    }

    .info_rapide {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin: 20px;
    }

    .inf1,
    .inf2,
    .inf3 {
        margin-right: 10px;
    }

    .Experience {
        grid-template-columns: 1fr; /* Afficher en une seule colonne */
        gap: 15px;
    }

    .bibli,
    .infranow,
    .VP,
    .M2L,.M2L3,.GLPI,.Inventaire {
        grid-column: 1; /* Chaque élément prend une colonne entière */
        margin-right: 0; /* Plus besoin de marge à droite */
    }


    .bibli{
        grid-row:  1;
        grid-column: 1;
    }
    .infranow{
        grid-row:  2;
        grid-column: 1;

    }
    .VP{
        grid-row:  3;
        grid-column: 1;

    }
    .M2L{
        grid-row:  4;
        grid-column: 1;

    }
    .M2L3{
        grid-row:  5;
        grid-column: 1;

    }
    .GLPI {
        grid-row:  6;
        grid-column: 1;

    }
    .Inventaire{
        grid-row:  7;
        grid-column: 1;
    }


    


    .Qualité {
        margin: 10px;
    }

    .Contact {
        margin-top: 10px;
    }

    .Veille {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        Gap: 15px;

    }
    .Moteur {
        grid-row:  2;
        margin: none;
        grid-column-start: none;





    }
    .Algo {
        grid-row:  1;
        margin-right: 100px;

        margin: none;
        grid-column-start: none;





    }
}

