/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #095228;
    color: white;
    padding: 15px 20px;
    text-align: center; /* Centrer le texte */
}

header h1 {
    margin: 0; /* Supprimer les marges par défaut */
    font-size: 2em; /* Ajuster la taille du titre si nécessaire */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffe6e6;
}

#hero h1 {
    color: #095228;
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
}

#gifts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff5f5;
}

.card {
    background-color: white;
    border: 2px solid #095228;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card h2 {
    color: #095228;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    margin: 15px 0;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #b30000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #800000;
}

footer {
    text-align: center;
    padding: 15px 20px;
    background-color: #095228;
    color: white;
}
/* Media Queries pour petits écrans */
@media screen and (max-width: 768px) {
    #hero h1 {
        font-size: 2em; /* Taille du texte plus petite pour les écrans plus petits */
    }

    #hero p {
        font-size: 1em; /* Taille du texte plus petite pour les écrans plus petits */
    }

    #gifts {
        display: block; /* Passer en bloc pour empiler les cartes */
        text-align: center;
    }

    .card {
        width: 90%; /* Réduire la largeur des cartes pour éviter qu'elles ne dépassent */
        margin: 10px auto; /* Centrer les cartes et espacer légèrement */
    }
}

@media screen and (max-width: 386px) {
    header h1 {
        font-size: 1.6em; /* Ajustement de la taille du titre dans l'en-tête */
    }

    .card h2 {
        font-size: 1em; /* Réduction de la taille du titre dans les cartes */
    }

    .card p {
        font-size: 0.8em; /* Réduction de la taille du texte dans les cartes */
    }

    .card a {
        padding: 6px 14px; /* Ajustement des boutons pour les petits écrans */
    }

    .card {
        width: 100%; /* Les cartes prennent toute la largeur disponible */
        margin: 10px 0; /* Marge entre les cartes */
    }
}